<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <style>
        [x-cloak] { display: none; }
    </style>
    {{function('wp_head')}}
</head>

<body class="{{body_class}}" data-template="base.twig">
    {% include 'layout/base/header.twig' %}

    <div>
        {% block content %}
        Sorry, no content
        {% endblock %}
    </div>

    {% block footer %}
        {% include 'layout/base/footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
