<div class="bg-white border-b-2 border-gray-100">
    <div class="container mx-auto ">
        <div class="flex justify-between items-center">
            <div class="py-5 text-3xl">
                <a class="block" href="{{ site.url }}" title="{{ site.title }}">
                    {% if logo_url %}
                        <img class="h-10" src="{{ logo_url }}" alt="{{ site.title }}">
                    {% else %}
                        {{ site.title }}
                    {% endif %}
                </a>
            </div>

            <nav class="flex gap-10">
                {% for item in main_menu.items  %}
                    <a href="{{ item.url }}" class="f">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
